<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGSTASH_HOST" value="34.95.173.42:5044" />
    <appender name="logstash-access" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
        <destination>${LOGSTASH_HOST}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <customFields>{"app_name":"event-producer-service"}</customFields>
        </encoder>
    </appender>
    <!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>common</pattern>
        </encoder>
    </appender>
    <appender-ref ref="CONSOLE"/>-->
    <appender-ref ref="logstash-access"/>
</configuration>